//Scss

@import "./componentes/textos";

// index

*{
    background-color: rosybrown !important;
}

.section{
    background-color: rosybrown !important;
}

.pelota{
    display: flex;
    justify-content: center;
    border-radius: 20px;
    

}

