//Scss

@import "./componentes/textos";
@import "./componentes/botones";

// index



.section{
    background-color: rosybrown ;
}

.pelota{
    display: flex;
    justify-content: center;
    border-radius: 20px;
    

}

.card-img, .card-img-bottom, .card-img-top {
    width: 30% !important;
    display: flex;
    justify-content: center;
}



.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
    display: inline-grid;
}